﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CrystalCMS.Web.Extensions

@{
    var homePage = Umbraco.Content(1095);
    var faqPage = Umbraco.Content(1145);

    var navigationPages = homePage.Children(x => x.TryGetValue<bool>("showInNavigation")).ToList();
    var currentPage = Model.Id;

    var contactNumber = faqPage.TryGetValue<string>("contactPhoneNumber");
    var contactEmail = faqPage.TryGetValue<string>("contactEmail");
    var contactAddress = faqPage.TryGetValue<string>("contactAddress");
}
<footer class="bg">
    <div class="container">
        <div class="flex justify-between align-start footer-direction">
            <div class="footer-logo flex flex-column flex-row">
                <a href="@homePage.Url()" class="logo">
                    <img src="~/assets/image/Logo.svg" alt="logo" />
                </a>
                <span class="footer-desc">მიიღე სრული POS და ERP მომსახურება</span>
            </div>
            <div class="footer-menu footer-item">
                <h5 class="footer-menu-title">მენიუ</h5>
                <ul>
                    @foreach (var page in navigationPages)
                    {
                        var pageTitle = (page.TryGetValue<string>("navigationTitle").IfDefaultSet<string>(page.Name));
                        <li class="footer-menu-list">
                            <a href="@page.Url()" class="desc">@pageTitle</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="contact footer-item">
                <h5 class="footer-menu-title">კონტაქტი</h5>
                <ul>
                    <li class="footer-menu-list">
                        <ul>
                            <li class="desc">ტელეფონი: @contactNumber</li>
                            <li class="desc">ელ.ფოსტა: @contactEmail</li>
                            <li class="desc">მისამართი: @contactAddress</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="social-icons flex footer-item">
                @if (homePage.TryGetValue<bool>("showFacebook"))
                {
                    <a class="social-icon fb" href="@(homePage.TryGetValue<string>("facebookLink"))" target="_blank"></a>
                }
                @if (homePage.TryGetValue<bool>("showLinkedIn"))
                {
                    <a class="social-icon linkedin" href="@(homePage.TryGetValue<string>("linkedInLink"))" target="_blank"></a>
                }
                @if (homePage.TryGetValue<bool>("showYoutube"))
                {
                    <a class="social-icon youtube" href="@(homePage.TryGetValue<string>("youtubeLink"))" target="_blank"></a>
                }
            </div>
        </div>
        <div class="footer-small-block flex justify-between">
            <span class="footer-desc">კრისტალ კონსალტიგნი 2021. ყველა უფლება დაცულია.</span>
            <img src="~/assets/image/Created by WANDIO.svg"
                 alt="Created by WANDI" />
        </div>
    </div>
</footer>