﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using CrystalCMS.Web.Extensions
@using System.Configuration;

@{
    var homePage = Umbraco.Content(1095);
    var navigationPages = homePage.Children(x => x.TryGetValue<bool>("showInNavigation")).ToList();
    var currentPage = Model.Id;
    var loginUrl = ConfigurationManager.AppSettings["ErpFrontUrl"];
    var registerPageUrl = Umbraco.Content(4211)?.Url();
}
<header class="main-header">
    <div class="container">
        <div class="flex align-center justify-between">
            <div class="flex align-center">
                <a href="@homePage.Url()" class="logo">
                    <img src="~/assets/image/Logo.svg" alt="logo" />
                </a>
                <nav class="navigation">
                    <ul class="flex">
                        @foreach (var page in navigationPages)
                        {
                            var pageTitle = (page.TryGetValue<string>("navigationTitle").IfDefaultSet<string>(page.Name));
                            <a href="@page.Url()" class="nav-link">@pageTitle</a>
                        }
                    </ul>
                </nav>
            </div>
            <div class="flex align-center right-header">
                <a href="@loginUrl" class="log-in flex align-center">
                    <img src="~/assets/image/User-Icon.svg" alt="user icon" />
                    <span>შესვლა</span>
                </a>
                <a class="demo" href="@registerPageUrl">მოითხოვე დემო</a>
            </div>
            <div class="mobile-menu relative">
                <a href="#" class="burger">
                    <i></i>
                </a>
                <div class="menu">
                    <ul>
                        @foreach (var page in navigationPages)
                        {
                            var pageTitle = (page.TryGetValue<string>("navigationTitle").IfDefaultSet<string>(page.Name));
                            <li><a href="@page.Url()" class="nav-link">@pageTitle</a></li>
                        }
                    </ul>
                    <div class="mobile-buttons">
                        <a href="@registerPageUrl" class="demo" style="display: inline-block;-webkit-box-sizing:border-box;">მოითხოვე დემო</a>
                        <div class="auth flex justify-center align-center">
                            <img src="~/assets/image/User-Icon.svg" alt="user icon" />
                            <span>გაიარე ავტორიზაცია</span>
                        </div>
                    </div>
                    <div class="social-icons flex justify-center">
                        @if (homePage.TryGetValue<bool>("showFacebook"))
                        {
                            <a class="social-icon fb" href="@(homePage.TryGetValue<string>("facebookLink"))" target="_blank"></a>
                        }
                        @if (homePage.TryGetValue<bool>("showLinkedIn"))
                        {
                            <a class="social-icon linkedin" href="@(homePage.TryGetValue<string>("linkedInLink"))" target="_blank"></a>
                        }
                        @if (homePage.TryGetValue<bool>("showYoutube"))
                        {
                            <a class="social-icon youtube" href="@(homePage.TryGetValue<string>("youtubeLink"))" target="_blank"></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
