﻿@model CrystalCMS.Web.Models.Home.BannerSectionViewModel
@using CrystalCMS.Web.Extensions


<section id="main-section">
    <div class="container">
        <div class="flex align-start justify-between mobile-column-reverse">
            <div class="main-left-side flex flex-column">
                <h1 class="main-title">
                    @Html.Raw(Model.Title) 
                </h1>
                <p class="main-desc">
                    @Model.Description
                </p>
                <div class="main-buttons flex">
                    <a  href="@Model.RegistrationUrl" class="demo">მოითხოვე დემო</a>
                    <div class="view-video flex align-center">
                        <div class="video-icon start-video">
                            <img src="assets/image/play.svg" alt="play button" />
                        </div>
                        <span class="view-video-text start-video">
                            ვიდეოს ნახვა
                        </span>
                    </div>
                </div>
            </div>
            <div class="main-right-side relative">
                <img class="left-arrow animate__animated animate__fadeInRight animate__delay-1s"
                     src="assets/image/Header BG Pattern L.svg"
                     alt="left arrow" />
                <img class="right-arrow animate__animated animate__fadeInDown animate__delay-1s"
                     src="assets/image/Header BG Pattern R.svg"
                     alt="right arrow" />
                <div class="banner animate__animated animate__fadeInRight">
                    <img src="@Model.ImageUrl" alt="banner" />
                </div>
            </div>
        </div>
    </div>
</section>

<div id="video-modal" class="relative">
    <div class="absolute video-content">
        <iframe src="@Model.VideoUrl"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>