﻿@model CrystalCMS.Web.Models.Home.FeatureSectionViewModel
@using CrystalCMS.Web.Extensions

@{ var features = Model.Items?.ToList(); }

<section id="erp">
    <div class="container">
        <div class="relative title-relative">
            <div class="title-content text-left">
                <h2 class="title">@Model.Title</h2>
            </div>
        </div>
        <div class="flex justify-between align-start mobile-column-reverse">
            <div class="erp-left-side third-scroll-animations">
                <div class="content-image relative">
                    <img class="content-image-banner main-erp-img animate__animated"
                         src="assets/image/main-erp-img.png"
                         alt="main-erp-img" />
                    <img src="assets/image/erp-top-arrow.svg"
                         class="erp-top-arrow absolute animate__animated animate__delay-3s"
                         alt="top arrow" />
                    <img src="assets/image/erp-right-arrow.svg"
                         class="erp-right-arrow absolute animate__animated animate__delay-3s"
                         alt="bottom arrow" />
                    <img src="assets/image/erp-left-image.svg"
                         class="erp-left-image absolute animate__animated animate__delay-1s"
                         alt="erp-left-image" />
                    <img src="assets/image/erp-right-image.svg"
                         class="erp-right-image absolute animate__animated animate__delay-2s"
                         alt="erp-right-image" />
                </div>
            </div>

            <div class="right-side">

                <div class="erp-tabs swiper-container relative">
                    <ul class="tabs-nav flex swiper-wrapper justify-between">
                        @foreach (var item in features)
                        {
                            var index = features.IndexOf(item) + 1;

                            <li class="swiper-slide @(index == 1 ? "active" : string.Empty)">
                                @*<span class="number">0@(index)</span>*@
                                <a class="mobile-tab-title" href="#erp-tab@(index)">@item.Title</a>
                            </li>
                        }
                    </ul>
                    <div class="tabs-content">
                        @foreach (var item in features)
                        {
                            var index = features.IndexOf(item) + 1;

                            <div id="erp-tab@(index)" class="erp-tab-content">
                                <p class="desc">
                                    @item.Description
                                </p>
                            </div>
                        }
                    </div>
                </div>

                @foreach (var item in features)
                {
                    var index = features.IndexOf(item) + 1;

                    <div class="content-feature @(index == 1 ? "active-content-feature" : string.Empty)">
                        @*<span class="number">0@(index)</span>*@
                        <h3 class="secondry-title">@item.Title</h3>
                        <p class="desc">@item.Description</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>