﻿@model CrystalCMS.Web.Models.Home.FeatureSectionViewModel
@using CrystalCMS.Web.Extensions

@{ 
    var features = Model.Items?.ToList();
}
<section id="pos">
    <div class="container">
        <div class="title-content text-left">
            <h2 class="title">@Model.Title</h2>
        </div>
        <div class="flex justify-between align-start mobile-column">
            <div class="left-side">
                @if (features.IsNotNullOrEmpty())
                {
                    foreach (var item in features)
                    {
                        var index = features.IndexOf(item) + 1;
                        <div class="content-feature @(index == 1 ? "active-content-feature" : string.Empty)">
                            @*<span class="number">0@(index)</span>*@
                            <h3 class="secondry-title">@item.Title</h3>
                            <p class="desc">
                                @item.Description
                            </p>
                        </div>
                    }
                }
            </div>

            <div class="pos-tabs swiper-container relative">
                @if (features.IsNotNullOrEmpty())
                {
                    <ul class="tabs-nav flex swiper-wrapper justify-between absolute">
                        @foreach (var item in features)
                        {
                            var index = features.IndexOf(item) + 1;
                            <li class="swiper-slide @(index == 1 ? "active" : string.Empty)">
                                @*<span class="number">0@(index)</span>*@
                                <a class="mobile-tab-title" href='@($"#pos-tab{index}")'>@item.Title</a>
                            </li>
                        }
                    </ul>
                    <div class="tabs-content">
                        @foreach (var item in features)
                        {
                            var index = features.IndexOf(item) + 1;
                            <div id='@($"pos-tab{index}")' class="pos-tab-content">
                                <p class="desc">
                                    @item.Description
                                </p>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="pos-right-side second-scroll-animations">
                <div class="content-image relative">
                    <img class="content-image-banner main-pos-image animate__animated"
                         src="assets/image/main-pos-img.png"
                         alt="main pos image" />
                    <img src="assets/image/pos-top-arrow.svg"
                         class="pos-top-arrow absolute animate__animated animate__delay-3s"
                         alt="top arrow" />
                    <img src="assets/image/pos-bottom-arrow.svg"
                         class="pos-bottom-arrow absolute animate__animated animate__delay-3s"
                         alt="bottom arrow" />
                    <img src="assets/image/pos-left-image.svg"
                         alt="pos-left-image"
                         class="pos-left-image absolute animate__animated animate__delay-1s" />
                    <img src="assets/image/pos-right-image.svg"
                         alt="pos-right-image"
                         class="pos-right-image absolute animate__animated animate__delay-2s" />
                </div>
            </div>
        </div>
    </div>
</section>