﻿@model CrystalCMS.Web.Models.Home.PrioritySectionViewModel
@using CrystalCMS.Web.Extensions

<section id="priority-section">
    <div class="container">
       
        <div class="main-priority-wrapper flex justify-between">
            <div class="title-content text-left">
                <h2 class="title">
                    @Model.Title
                </h2>
                <p class="desc desc-space">
                    @Model.Description
                </p>
            </div>
            <div class="priority-services flex flex-wrap align-start">
                @if (Model.Items.IsNotNullOrEmpty())
                {
                    foreach (var item in Model.Items)
                    {
                        <div class="service">
                            <img class="service-icon"
                                 src="@item.ImageUrl"
                                 alt="Features icon" />
                            <h3 class="secondry-title">@item.Title</h3>
                            <p class="desc">
                                @item.Description
                            </p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>