﻿@model CrystalCMS.Web.Models.Home.RequestDemoViewModel
@using CrystalCMS.Web.Extensions

<section id="bottom-section" class="flex flex-column align-center">
    <div class="title-content relative text-center">
        <img class="last-patern-l absolute"
             src="assets/image/Last Pattern L.svg"
             alt="patern img" />
        <h2 class="title">@Model.Title</h2>
        <div class="desc">
            @Model.Description
        </div>
        <img class="last-patern-r absolute"
             src="assets/image/Last Pattern R.svg"
             alt="patern img" />
    </div>
    <a href="#" class="demo">@Model.ButtonText</a>
</section>
