﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";

    var handler = "AboutPageHandler";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/css/about.css">
}

<section id="about-us">
    @Html.Action("RenderMainSection", handler)
    @Html.Action("RenderHistoryIntegrationsSection", handler)
</section>