﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Agreements>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var handler = "AgreementsPageHandler";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/css/agreements.css">
}

<section id="agreements">
    @Html.Action("RenderMainSection", handler)

    @Html.Action("RenderAgreementsSection", handler)
</section>