﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.FAQ>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";

    var handler = "FaqPageHandler";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/css/faq.css">
}
@section Scripts {
    <script src="~/assets/js/faq.js"></script>
}

<section id="faq">

    @Html.Action("RenderMainSection", handler)

    <div class="faq-wrapper">
        @Html.Action("RenderQuestionsSection", handler)

        @Html.Action("RenderContactSection", handler)
    </div>
</section>