﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{ Layout = "master.cshtml";
    var handler = "HomePageHandler"; }

@section Scripts {
    <script src="~/assets/js/lib/swiper.min.js"></script>
    <script src="~/assets/js/main.js"></script>
}

    @Html.Action("RenderBannerSection", handler)
<div class="bg">
    @Html.Action("RenderPrioritySection", handler)
</div>

@Html.Action("RenderPosSection", handler)



    @Html.Action("RenderErpSection", handler)
<div class="bg">
    @Html.Action("RenderPackagesSection", handler)
</div>

@Html.Action("RenderRequestDemoSection", handler)

