﻿@using Umbraco.Core.PropertyEditors
@using System.Configuration;

@inherits UmbracoViewPage
@{ 
    Layout = null;
    var registerPage = Umbraco.Content(4211);
    var loginPageUrl = ConfigurationManager.AppSettings["ErpLoginUrl"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("Meta", false)
    <link rel="stylesheet" href="~/assets/css/global.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    @RenderSection("Styles", false)
    <link rel="icon" href="~/assets/image/fav-icon.svg" type="image/svg">
    <title>კრისტალ კონსალტინგი</title>
</head>

<body>
    @{Html.RenderPartial("Shared/_Header"); }

    @RenderBody()

    @{Html.RenderPartial("Shared/_Footer"); }

    <script src="~/assets/js/lib/jquery.min.js"></script>
    <script src="~/assets/js/global.js"></script>
    <script>
        $(".auth").click(() => window.open('@(loginPageUrl)', "_self"));
    </script>
    @RenderSection("Scripts", false)
</body>
</html>