﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.PageNotFound>
@using ContentModels = Umbraco.Web.PublishedModels;
@using CrystalCMS.Web.Extensions;

@{
    Layout = null;
    var homePage = Umbraco.Content(1095);
    var navigationPages = homePage.Children(x => x.TryGetValue<bool>("showInNavigation")).ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/global.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/registration.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <link rel="icon" href="~/assets/image/fav-icon.svg" type="image/svg">
    <title>Registration</title>
</head>

<body>
    <header class="main-header none">
        <div class="container">
            <div class="flex align-center justify-between">
                <a href="@homePage.Url()" class="logo">
                    <img src="~/assets/image/Logo.svg" alt="logo" />
                </a>

                <div class="mobile-menu relative">
                    <a href="#" class="burger">
                        <i></i>
                    </a>
                    
                    <div class="menu">
                        <ul>
                            @foreach (var page in navigationPages)
                            {
                                var pageTitle = (page.TryGetValue<string>("navigationTitle").IfDefaultSet<string>(page.Name));
                                <li>
                                    <a href="@page.Url()" class="nav-link">@pageTitle</a>
                                </li>
                            }
                        </ul>

                        <div class="mobile-buttons">
                            <div class="demo text-center">მოითხოვე დემო</div>
                            <div class="auth flex justify-center align-center">
                                <img src="~/assets/image/User-Icon.svg" alt="user icon" />
                                <span>გაიარე ავტორიზაცია</span>
                            </div>
                        </div>

                        <div class="social-icons flex justify-center">

                            @if (homePage.TryGetValue<bool>("showFacebook"))
                            {
                                <a class="social-icon fb" href="@(homePage.TryGetValue<string>("facebookLink"))" target="_blank"></a>
                            }

                            @if (homePage.TryGetValue<bool>("showLinkedIn"))

                            {

                                <a class="social-icon linkedin" href="@(homePage.TryGetValue<string>("linkedInLink"))" target="_blank"></a>

                            }

                            @if (homePage.TryGetValue<bool>("showYoutube"))

                            {

                                <a class="social-icon youtube" href="@(homePage.TryGetValue<string>("youtubeLink"))" target="_blank"></a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="flex">
        <div class="main-content not-found-content relative">
            <a href="@homePage.Url()" class="logo notfound-logo">
                <img src="~/assets/image/Logo.svg" alt="logo" />
            </a>

            <div class="page-not-found flex flex flex-column justify-center align-center">
                <h1 class="error-code">404</h1>
                <h5 class="cofirm-title">გვერდი ვერ მოიძებნა</h5>
                <a href="@homePage.Url()" class="btn"> დაბრუნდი მთავარ გვერდზე</a>
            </div>

            <img class="notfound-up absolute"
                 src="~/assets/image/registration-up.svg"
                 alt="notfound patern" />

            <img class="notfound-down absolute"
                 src="~/assets/image/registration-down.svg"
                 alt="notfound patern" />

        </div>

        <div class="notfound-image relative">
            <img src="~/assets/image/404.png" alt="404 image" />
        </div>
    </div>

    <script src="~/assets/js/lib/jquery.min.js"></script>
    <script src="~/assets/js/global.js"></script>
</body>
</html>
