﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Registration>
@using ContentModels = Umbraco.Web.PublishedModels;
@using CrystalCMS.Web.Extensions;
@using System.Configuration;
@{
    Layout = null;
    var homePage = Umbraco.Content(1095);
    var loginUrl = ConfigurationManager.AppSettings["ErpFrontUrl"];
    var navigationPages = homePage.Children(x => x.TryGetValue<bool>("showInNavigation")).ToList();
}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/assets/css/swiper.min.css" />
        <link rel="stylesheet" href="~/assets/css/global.css" />
        <link rel="stylesheet" href="~/assets/css/main.css" />
        <link rel="stylesheet" href="~/assets/css/registration.css" />
        <link rel="stylesheet" href="~/assets/css/responsive.css" />
        <link rel="icon" href="~/assets/image/fav-icon.svg" type="image/svg">
        <title>Registration</title>
    </head>
    <body>
        <header class="main-header none">
            <div class="container">
                <div class="flex align-center justify-between">
                    <a href="@homePage.Url()" class="logo">
                        <img src="~/assets/image/Logo.svg" alt="logo" />
                    </a>
                    <div class="mobile-menu relative">
                        <a href="#" class="burger">
                            <i></i>
                        </a>
                        <div class="menu">
                            <ul>
                                @foreach (var page in navigationPages)
                                {
                                    var pageTitle = (page.TryGetValue<string>("navigationTitle").IfDefaultSet<string>(page.Name));
                                    <li>
                                        <a href="@page.Url()" class="nav-link">@pageTitle</a>
                                    </li>
                                }
                            </ul>
                            <div class="mobile-buttons">
                                <div class="demo text-center">მოითხოვე დემო</div>
                                <div class="auth flex justify-center align-center">
                                    <img src="~/assets/image/User-Icon.svg" alt="user icon" />
                                    <span>გაიარე ავტორიზაცია</span>
                                </div>
                            </div>
                            <div class="social-icons flex justify-center">
                                @if (homePage.TryGetValue<bool>("showFacebook"))
                                {
                                    <a class="social-icon fb" href="@(homePage.TryGetValue<string>("facebookLink"))" target="_blank"></a>
                                }
                                @if (homePage.TryGetValue<bool>("showLinkedIn"))
                                {
                                    <a class="social-icon linkedin" href="@(homePage.TryGetValue<string>("linkedInLink"))" target="_blank"></a>
                                }
                                @if (homePage.TryGetValue<bool>("showYoutube"))
                                {
                                    <a class="social-icon youtube" href="@(homePage.TryGetValue<string>("youtubeLink"))" target="_blank"></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="registration flex">
            <div class="main-content">
                <ul class="registration-tabs justify-center none">
                    <li class="text-center tabs-name">რეგისტრაცია</li>
                    <li class="text-center sign-in tabs-name">
                        <a href="@loginUrl">ავტორიზაცია</a>
                    </li>
                </ul>
                <a href="@homePage.Url()" class="logo">
                    <img src="~/assets/image/Logo.svg" alt="logo" />
                </a>
                <div class="registration-form">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="registration-title-wrapper">
                                    <h3 class="registration-wrapper-title">რეგისტრაცია</h3>
                                    <p class="desc">შეავსე პერსონალური ინფორმაცია</p>
                                </div>
                                <form id="first-registration">
                                    <div class="flex justify-between flex-wrap">
                                        <div class="form-input flex flex-column w-50 relative">
                                            <label for="firstName">სახელი</label>
                                            <input type="text"
                                                   id="firstName"
                                                   name="firstName"
                                                   class="desc" />
                                            <img class="error-icon none"
                                                 src="~/assets/image/error.svg"
                                                 alt="error icon" />
                                            <img class="success-icon none"
                                                 src="~/assets/image/success.svg"
                                                 alt="success-icon" />
                                        </div>
                                        <div class="form-input flex flex-column w-50 relative">
                                            <label for="lastName">გვარი</label>
                                            <input type="text"
                                                   id="lastName"
                                                   name="lastName"
                                                   class="desc" />
                                            <img class="error-icon none"
                                                 src="~/assets/image/error.svg"
                                                 alt="error icon" />
                                            <img class="success-icon none"
                                                 src="~/assets/image/success.svg"
                                                 alt="success-icon" />
                                        </div>
                                    </div>
                                    <div class="form-input flex flex-column relative">
                                        <label for="email">ელექტრონული ფოსტა</label>
                                        <input type="email" id="email" name="email" class="desc" value="" />
                                        <img class="error-icon none"
                                             src="~/assets/image/error.svg"
                                             alt="error icon" />
                                        <img class="success-icon none"
                                             src="~/assets/image/success.svg"
                                             alt="success-icon" />
                                    </div>
                                    <div class="form-input flex flex-column relative">
                                        <label for="number">პირადი ნომერი</label>
                                        <input type="number"
                                               id="number"
                                               name="number"
                                               class="desc" />
                                        <img class="error-icon none"
                                             src="~/assets/image/error.svg"
                                             alt="error icon" />
                                        <img class="success-icon none"
                                             src="~/assets/image/success.svg"
                                             alt="success-icon" />
                                    </div>
                                    <div class="form-input flex flex-column relative">
                                        <label for="mobile">მობილურის ნომერი</label>
                                        <input type="number"
                                               id="mobile"
                                               name="mobile"
                                               class="desc" />
                                        <img class="error-icon none"
                                             src="~/assets/image/error.svg"
                                             alt="error icon" />
                                        <img class="success-icon none"
                                             src="~/assets/image/success.svg"
                                             alt="success-icon" />
                                    </div>
                                    <div class="registration-btn relative">
                                        <input class="btn swiper-button-next"
                                               type="submit" style="width:100%;"
                                               value="შემდეგი" />
                                        <img class="hover-icon absolute"
                                             src="~/assets/image/hover-arrow.svg"
                                             alt="hover-icon" />
                                    </div>
                                    <div class="flex justify-center align-center desc account-content">
                                        <a href="@loginUrl" class="underline-content">გაიარე ავტორიზაცია</a>
                                    </div>
                                </form>
                            </div>
                            <div class="swiper-slide">
                                <div class="registration-title-wrapper">
                                    <h3 class="registration-wrapper-title">რეგისტრაცია</h3>
                                    <p class="desc">შეავსე კომპანიის ინფორმაცია</p>
                                </div>
                                <form id="second-registration">
                                    <div class="form-input flex flex-column relative">
                                        <label for="company-name">კომპანიის დასახელება</label>
                                        <input type="text"
                                               id="company-name"
                                               name="companyName"
                                               class="desc" />
                                        <img class="error-icon none"
                                             src="~/assets/image/error.svg"
                                             alt="error icon" />
                                        <img class="success-icon none"
                                             src="~/assets/image/success.svg"
                                             alt="success-icon" />
                                    </div>
                                    <div class="form-input flex flex-column relative">
                                        <label for="identification-number">საიდენტიფიკაციო კოდი</label>
                                        <input type="number"
                                               id="identification-number"
                                               name="identificationNumber"
                                               class="desc" />
                                        <img class="error-icon none"
                                             src="~/assets/image/error.svg"
                                             alt="error icon" />
                                        <img class="success-icon none"
                                             src="~/assets/image/success.svg"
                                             alt="success-icon" />
                                    </div>
                                    <div class="form-input flex flex-column relative">
                                        <label for="adress">ფაქტიური მისამართი</label>
                                        <input type="text" id="adress" name="adress" class="desc" />
                                        <img class="error-icon none"
                                             src="~/assets/image/error.svg"
                                             alt="error icon" />
                                        <img class="success-icon none"
                                             src="~/assets/image/success.svg"
                                             alt="success-icon" />
                                    </div>
                                    <div class="form-input flex flex-column relative">
                                        <label for="tel-number">ტელეფონის ნომერი</label>
                                        <input type="number"
                                               id="tel-number"
                                               name="telNumber"
                                               class="desc" />
                                        <span class="tel-number-index absolute">0322</span>
                                        <img class="error-icon none"
                                             src="~/assets/image/error.svg"
                                             alt="error icon" />
                                        <img class="success-icon none"
                                             src="~/assets/image/success.svg"
                                             alt="success-icon" />
                                    </div>
                                    <div class="form-input flex flex-column relative">
                                        <label for="dropdown">აირჩიე აღრიცხვის მეთოდი</label>
                                            <select name="costCalculationType" id="sources" class="custom-select sources" placeholder="აირჩიე" >
                                                <option value="1">საშუალო</option>
                                                <option value="2">FIFO</option>
                                            </select>
                                        <img class="error-icon none"
                                             src="~/assets/image/error.svg"
                                             alt="error icon" />
                                        <img class="success-icon none"
                                             src="~/assets/image/success.svg"
                                             alt="success-icon" />
                                    </div>

                                    <label for="agree" class="agree-terms flex relative">
                                        <input type="checkbox" id="agree" name="agree" />
                                        <span class="chckbox-square"></span>
                                        <a href="/agreements" target="_blank"><span class="agree-title">ვეთანხმები წესებს და პირობებს</span> </a>
                                    </label>
                                   
                                    <div class="registration-btn flex justify-between align-center">
                                        <div class="swiper-button-prev">
                                            <img src="~/assets/image/Back.svg" alt="back icon" />
                                        </div>
                                        <input class="btn next swiper-button-next submit"
                                               type="submit"
                                               style="width:100%;"
                                               value="დარეგისტრირდი" />
                                    </div>
                                </form>
                            </div>
                            <div class="swiper-slide last-slider">
                                <div class="confirm-email flex flex-column justify-center relative">
                                    <div class="loader none">
                                        <img src="~/assets/image/sync.gif" alt="loader" />
                                        <h5 class="cofirm-title">გთხოვთ დაელოდეთ</h5>
                                    </div>

                                    <div class="sucess-message none">
                                        <img class="email-icon"
                                             src="~/assets/image/email.svg"
                                             alt="email" />
                                        <h5 class="cofirm-title">დაადასტურე მეილი</h5>
                                        <p class="desc">დამადასტურებელი შეტყობინება გამოიგზავნა</p>
                                        <span class="email-adress desc"></span>
                                        <div class="back-home-page">
                                            <a href="@homePage.Url()"><div class="demo none">მთავარ გვერდზე დაბრუნება</div></a>
                                            <div class="flex justify-center align-center flex-wrap desc info">
                                                <p>არ მიგიღიათ შეტყობინება?</p>
                                                <a href="#" id="resendEmail" class="underline-content">გააგზავნე თავიდან</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="error-message none">
                                        <img class="email-icon"
                                             src="~/assets/image/error-icon.svg"
                                             alt="email" />
                                        <h5 class="cofirm-title">ვერ გაიარეთ რეგისტრაცია</h5>
                                        <p class="desc">თქვენ წარმატებით ვერ გაიარეთ რეგისტრაცია, გთხოვთ ცადოთ ხელახლა</p>
                                        <div class="btn back-registration"> რეგისტრაცია</div>
                                    </div>

                                    <img class="registration-up absolute"
                                         src="~/assets/image/registration-up.svg"
                                         alt="registration patern" />
                                    <img class="registration-down absolute"
                                         src="~/assets/image/registration-down.svg"
                                         alt="registration patern" />
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="ragistration-image relative">
                <img src="~/assets/image/registration.png" alt="registration image" />
                <h2 class="registration-title absolute">
                    შეავსე პერსონალური ინფორმაცია
                </h2>
            </div>
        </div>

        <script src="~/assets/js/lib/jquery.min.js"></script>
        <script src="~/assets/js/lib/swiper.min.js"></script>
        <script src="~/assets/js/lib/jquery.validate.min.js"></script>
        <script src="~/assets/js/global.js"></script>
        <script src="~/assets/js/registration.js"></script>
    </body>
</html>