﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Sitemap>
@using ContentModels = Umbraco.Web.PublishedModels;
@using CrystalCMS.Web.Extensions;

@{ Layout = null;
    Response.ContentType = "text/xml";
    IPublishedContent siteHomePage = Model.Root();
    IEnumerable<IPublishedContent> sitePages = siteHomePage.Children(); }

@helper RenderSiteMapUrlEntry(IPublishedContent node)
{var changeFreq = "monthly";
    var priority = "0.5";

<url>
    <loc>@EnsureUrlStartsWithDomain(@node.Url(mode: UrlMode.Absolute))</loc>
    <lastmod>@(string.Format("{0:s}+00:00", node.UpdateDate))</lastmod>
    <changefreq>@changeFreq</changefreq>
    <priority>@priority</priority>
</url>
}

@functions { private static string EnsureUrlStartsWithDomain(string url)
    {
        if (url.StartsWith("http"))
        {
            return url;
        }
        else
        {
            // whatever makes sense for your site here...
            var domainPrefix = string.Format("https://{0}/", HttpContext.Current.Request.ServerVariables["HTTP_HOST"]);
            return domainPrefix + url;
        }
    } }

@helper RenderSiteMapUrlEntriesForChildren(IPublishedContent parentPage)
{
    foreach (var page in parentPage.Children)
    {
        if (page.TryGetValue<bool>("showInSitemap"))
        {
            @RenderSiteMapUrlEntry(page)
                            
            if (page.Children.Any())
            {
                @RenderSiteMapUrlEntriesForChildren(page)
            }

        }
    }
}

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemalocation="http://www.google.com/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">@RenderSiteMapUrlEntry(siteHomePage)@RenderSiteMapUrlEntriesForChildren(siteHomePage)</urlset>