﻿@model CrystalCMS.Web.Models.Agreements.AgreementsViewModel
@using CrystalCMS.Web.Models.Agreements
@using CrystalCMS.Web.Extensions

@{ 
    List<AgreementModel> agreements = Model.AgreementSections.IsNotNullOrEmpty()
         ? Model.AgreementSections.ToList()
         : new List<AgreementModel>();
}

<div class="container">
    <div class="agreement-wrapper">
        <h5 class="agreement-title">@Model.Title</h5>
        <p class="desc">@Model.Description</p>

        @for (int i = 0; i < agreements.Count(); i++)
        {
            <div class="agreement-content">
                <h5 class="agreement-title">
                    @($"{i + 1}. {agreements[i].Title}")
                </h5>
                @Html.Raw($"<div class='agreement-content-list'>{agreements[i].Description}</div>")
            </div>
        }
    </div>
</div>