﻿@model CrystalCMS.Web.Models.Packages.AdvantagesSectionViewModel
@using CrystalCMS.Web.Extensions

@{ var features = Model.Features?.GroupBy(x => x.Type); }

<section id="advantages">
    <div class="advantages-wrapper">
        <h2 class="title text-center">პაკეტების უპირატესობები</h2>
        @if (features.IsNotNullOrEmpty())
        {
            foreach (var item in features)
            {
                <div class="package-item-title flex justify-between">
                    <h3 class="secondry-title">@item.Key</h3>
                    <div class="flex justify-between w-50">
                        <div class="item-name w-50">
                            სტანდარტული
                        </div>
                        <div class="item-name w-50">
                            პრემიუმი
                        </div>
                    </div>
                </div>
                if (item.IsNotNullOrEmpty())
                {
                    foreach (var feature in item)
                    {
                        <div class="package-item-desc flex justify-between">
                            <span class="item-feature-name">
                                @feature.Name
                            </span>
                            <div class="flex justify-between w-50">
                                @if (feature.InStandard)
                                {<img src="~/assets/image/Tick.svg" alt="tick"> }
                                else
                                { <img src="~/assets/image/x-icon.svg" alt="x-icon">}

                                @if (feature.InPremium)
                                {<img src="~/assets/image/Tick.svg" alt="tick"> }
                                else
                                { <img src="~/assets/image/x-icon.svg" alt="x-icon">}
                            </div>
                        </div>
                    }
                }
            }
        }
        <div class="choose-package flex justify-between align-center">
            <h6 class="choose-package-title">
                აირჩიეთ თქვენთვის მოსახერხებელი პაკეტი
            </h6>
            <div class="flex justify-between w-50">
                <a href="@Model.RegistrationUrl" class="demo">
                    შეიძინე პაკეტი
                </a>
                <a href="@Model.RegistrationUrl" class="demo">
                    შეიძინე პაკეტი
                </a>
            </div>
        </div>
    </div>
</section>