﻿@model CrystalCMS.Web.Models.Home.PackagesSectionViewModel
@using CrystalCMS.Web.Extensions
@using CrystalCMS.Web.Models.Packages
@{
    var premiumFeatures = Model.Premium.Features.IsNotNullOrEmpty() ? Model.Premium.Features : new List<PackageFeatureItem>();
    var standardFeatures = Model.Standard.Features.IsNotNullOrEmpty() ? Model.Standard.Features : new List<PackageFeatureItem>();
}

<section id="packages">
    <div class="container">

        @if (Model.IsHomePage)
        {
            <div class="title-content text-center">
                <h2 class="title">აირჩიე შენთვის მოსახერხებელი პაკეტი</h2>
            </div>
        }
        else
        {
            <div class="main-head-block">
                <div class="main-head-block-title">
                    <h2 class="title">ჩვენი პაკეტები</h2>
                    <p class="desc">აირჩიე შენთვის სასურველი პაკეტი და დაიწყე პოსის გამოყენება დღესვე</p>
                </div>
            </div>
        }

        <div class="package-duration flex align-center justify-center">
            <div id="monthly" class="package-title active-package">თვიურად</div>
            <div id="yearly" class="package-title">წლიურად</div>
        </div>
        <div class="package-contents relative flex justify-center fourth-scroll-animations">
            <img class="package-arrow absolute animate__animated"
                 src="~/assets/image/package-arrow.svg"
                 alt="arrow Pattern" />
            <img class="package-right-patern absolute animate__animated"
                 src="~/assets/image/package-right-patern.svg"
                 alt="right patern" />
            <div class="package-wrapper standart package-desktop">
                <div>
                    <h3 class="secondry-title">სტანდარტი</h3>

                    <div class="package-price flex align-center monthly">
                        <span class="GEL">d</span>
                        @Model.Standard.MonthlyPayment
                        <span class="desc">თვიურად</span>
                    </div>

                    <div class="package-price flex align-center yearly" style="display: none">
                        <span class="GEL">d</span>
                        @Model.Standard.YearlyPayment
                        <span class="desc">წლიურად</span>
                    </div>

                    <p class="desc">
                        @Model.Standard.Description
                    </p>
                </div>
                <div class="package-features">
                    @foreach (var item in standardFeatures)
                    {
                        var icon = item.IsOn ? "Tick Icon.svg" : "X Icon.svg";

                        <div class="package-feature flex align-center">
                            <img src="~/assets/image/@icon" alt="feature icon" />
                            <h5 class="package-feature-title">@item.Name</h5>
                        </div>
                    }
                </div>
                <a class="btn buy-package" href="@Model.RegistrationUrl">
                    <span>შეიძინე პაკეტი</span>
                    <img class="hover-icon" src="~/assets/image/hover-arrow.svg" alt="hover-icon" />
                </a>
            </div>
            <div class="package-wrapper premium package-desktop">
                <div>
                    <h3 class="secondry-title">პრემიუმი</h3>
                    <div class="package-price flex align-center monthly">
                        <span class="GEL">d</span>
                        @Model.Premium.MonthlyPayment
                        <span class="desc">თვიურად</span>
                    </div>
                    <div class="package-price flex align-center yearly" style="display: none">
                        <span class="GEL">d</span>
                        @Model.Premium.YearlyPayment
                        <span class="desc">წლიურად</span>
                    </div>
                    <p class="desc">
                        @Model.Premium.Description
                    </p>
                </div>
                <div class="package-features">
                    @foreach (var item in premiumFeatures)
                    {
                        var icon = item.IsOn ? "Red Tick.svg" : "X Icon.svg";

                        <div class="package-feature flex align-center">
                            <img src="~/assets/image/@icon" alt="feature icon" />
                            <h5 class="package-feature-title">@item.Name</h5>
                        </div>
                    }
                </div>
                <a class="btn buy-package" href="@Model.RegistrationUrl">
                    <span> შეიძინე პაკეტი</span>
                    <img class="hover-icon" src="~/assets/image/hover-arrow.svg" alt="hover-icon" />
                </a>
            </div>
            <ul class="mobile-accordion-container">
                <li>
                    <div class="package-accordion-head flex align-center justify-between">
                        <span class="mobile-package-name">სტანდარტი</span>
                        <img class="plusminus" src="~/assets/image/Plus Icon.svg" alt="icon" />
                    </div>
                    <div class="package-accordion-body">
                        <div class="package-wrapper standart package-mobile">
                            <div>
                                <h3 class="secondry-title">სტანდარტი</h3>
                                <div class="package-price flex align-center monthly">
                                    <span class="GEL">d</span>
                                    @Model.Standard.MonthlyPayment
                                    <span class="desc">თვიურად</span>
                                </div>

                                <div class="package-price flex align-center yearly" style="display:none;">
                                    <span class="GEL">d</span>
                                    @Model.Standard.YearlyPayment
                                    <span class="desc">წლიურად</span>
                                </div>

                                @Model.Standard.Description
                                </p>
                            </div>
                            <div class="package-features">
                                @foreach (var item in standardFeatures)
                                {
                                    var icon = item.IsOn ? "Tick Icon.svg" : "X Icon.svg";

                                    <div class="package-feature flex align-center">
                                        <img src="~/assets/image/@icon" alt="feature icon" />
                                        <h5 class="package-feature-title">@item.Name</h5>
                                    </div>
                                }
                            </div>
                            <a class="btn buy-package" href="@Model.RegistrationUrl">
                                <span> შეიძინე პაკეტი</span>
                                <img class="hover-icon" src="~/assets/image/hover-arrow.svg" alt="hover-icon" />
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="package-accordion-head flex align-center justify-between">
                        <span class="mobile-package-name package-active">პრემიუმი</span>
                        <img class="plusminus" src="~/assets/image/Plus Icon.svg" alt="icon" />
                    </div>
                    <div class="package-accordion-body none">
                        <div class="package-wrapper premium package-mobile">
                            <div>
                                <h3 class="secondry-title">პრემიუმი</h3>

                                <div class="package-price flex align-center monthly">
                                    <span class="GEL">d</span>
                                    @Model.Premium.MonthlyPayment
                                    <span class="desc">თვიურად</span>
                                </div>

                                <div class="package-price flex align-center yearly" style="display: none;">
                                    <span class="GEL">d</span>
                                    @Model.Premium.YearlyPayment
                                    <span class="desc">წლიურად</span>
                                </div>

                                <p class="desc">
                                    @Model.Premium.Description
                                </p>
                            </div>
                            <div class="package-features">
                                @foreach (var item in premiumFeatures)
                                {
                                    var icon = item.IsOn ? "Red Tick.svg" : "X Icon.svg";

                                    <div class="package-feature flex align-center">
                                        <img src="~/assets/image/@icon" alt="feature icon" />
                                        <h5 class="package-feature-title">@item.Name</h5>
                                    </div>
                                }
                            </div>
                            <a class="btn buy-package" href="@Model.RegistrationUrl">
                                <span> შეიძინე პაკეტი</span>
                                <img class="hover-icon" src="~/assets/image/hover-arrow.svg" alt="hover-icon" />
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>