﻿@model CrystalCMS.Web.Models.About.HistoryIntegrationsSectionViewModel
@using CrystalCMS.Web.Extensions
<div class="container">
    <div class="about-wrapper relative">
        <img class="absolute about-patern"
             src="~/assets/image/about-patern.svg"
             alt="patern" />
        <img class="about-banner"
             src="@Model.ImageUrl"
             alt="about banner" />
    </div>
    <div class="about-content">
        <h2 class="title">@Model.Title</h2>
        <p class="desc">
            @Model.Description
        </p>
    </div>
    <div class="about-content">
        <h2 class="title">@Model.Integration.Title</h2>
        <p class="desc">
            @Model.Integration.Description
        </p>
    </div>
    <div class="about-content">
        <h2 class="title">უპირატესობები</h2>
        <ul class="about-list">
            @if (Model.Items.IsNotNullOrEmpty())
            {
                foreach (var integration in Model.Items)
                {
                    <li class="desc flex align-center">
                        <span>@integration</span>
                    </li>
                }
            }
        </ul>
    </div>
</div>


