.about-wrapper {
    margin: 75px 0;
}

.about-patern {
    top: -30px;
    left: -30px;
    z-index: -1;
}

.about-content {
    max-width: 922px;
    width: 100%;
    margin: 0 0 75px 130px;
}

.about-list {
    max-width: 600px;
    width: 100%;
    margin: 35px 0 0;
}

    .about-list li {
        margin: 0 0 17px;
    }

    .about-list span {
        width: calc(100% - 6px);
    }

    .about-list li:before {
        content: "";
        height: 6px;
        width: 6px;
        display: block;
        background-color: #f05544;
        border-radius: 50%;
        margin: 0 15px 0 0;
    }

.about-banner {
    width: 100%;
}

@media (max-width: 1024px) {
    .about-content {
        max-width: 922px;
        width: 100%;
        margin: 0 0 75px 0;
    }

        .about-content .title {
            text-align: left;
        }

    .about-content {
        margin: 0 0 45px;
    }
}

@media (max-width: 768px) {
    .about-banner {
        width: 100%;
        height: 160px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 15px;
    }

    .about-patern {
        display: none;
    }

    .about-wrapper {
        margin: 0 0 44px;
    }
    .about-patern{
        display: none
    }
}
