.agreement-wrapper {
    max-width:923px;
    width: 100%;
    margin: 97px 0 165px;
}
.agreement-title {
    color: #F05544;
    font-family: FiragoBold;
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin: 0 0 15px;
}
.agreement-content{
    margin: 35px 0 0;
}
    .agreement-content .agreement-title {
        color: #091841;
    }
.agreement-content-list {
    font-size: 0.875rem;
    color: #091841;
    line-height: 1.5rem;
    font-family: FiragoRegular;
    margin: 0 0 30px;
}
@media (max-width: 768px){
    .agreement-wrapper {
        margin: 10px 0 45px;
    }
}