.faq-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 75px auto 165px auto;
  padding: 0 30px;
}
.accordion-container {
  margin: 0 0 140px;
}
.accordion-container li {
  border-bottom: 1px solid #dadbdf;
  padding: 0 0 10px;
}
.accordion-head {
  position: relative;
  color: #091841;
  font-family: firagoRegular;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 7px 0;
}
.accordion-head:before {
  content: "";
  height: 6px;
  width: 6px;
  display: inline-block;
  vertical-align: middle;
  background-color: #091841;
  border-radius: 50%;
  margin: 0 15px 0 0;
}
.accordion-head.faq-active:before {
  background-color: #f05544;
}

.accordion-body .desc {
  max-width: 660px;
  width: 100%;
  padding: 18px 0 18px 25px;
  margin: 0px;
}
.plusminus {
  position: absolute;
  right: 0;
}

.faq-active {
  color: #f05544;
}
.a {
  fill: rgb(49, 6, 6);
  opacity: 0;
}
.b {
  fill: #091841;
  opacity: 0.65;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact-item {
  width: 50%;
  border-radius: 15px;
  border: 1px solid#DADBDF;
  padding: 28px;
  margin: 35px 0 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contact-item:hover {
  background-color: #f8f9fc;
}
.contact-item:hover .b {
  fill: #f05544;
  opacity: 1;
}
.contact-item:hover .contact-info {
  color: #f05544;
}
.contact-item:first-child {
  margin: 35px 20px 0;
}
.contact-info {
  font-size: 1.5rem;
  font-family: firagoBold;
  margin: 15px 0;
  color: #091841;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .accordion-head {
    font-size: 0.85rem;
    font-family: firagoSemiBold;
    line-height: 1.5rem;
    padding: 5px;
  }
  .faq-wrapper {
    margin: 45px auto;
  }
  .accordion-container {
    margin: 0 0 45px;
  }
  .contact-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contact-item {
    width: 100%;
    text-align: center;
  }
  .contact-item:first-child {
    margin: 35px 0 0;
  }
    .accordion-head:before {
        display: none;
    }
}
