html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    text-decoration: none;
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

ul {
    list-style: none;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css ENDING */
/* custom normalize starting */
html,
body {
    position: relative;
    font-size: 16px;
    overflow-x: hidden;
}

header,
footer,
main,
article,
aside,
section,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong,
i,
em,
form,
input,
button,
nav,
ul, ol {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
/* custom normalize ending */

/* fonts starting */
@font-face {
    font-family: FiragoBold;
    src: local("FiragoBold"), url("./../fonts/FiragoBold.ttf") format("trueType");
}
/*Gilroy*/
@font-face {
    font-family: FiragoRegular;
    src: local("FiragoRegular"), url("./../fonts/FiragoRegular.ttf") format("trueType");
}

@font-face {
    font-family: FiragoSemiBold;
    src: local("FiragoSemiBold"), url("./../fonts/FiragoSemiBold.ttf") format("trueType");
}

@font-face {
    font-family: GEL;
    src: local("Gel"), url("./../fonts/gel.ttf") format("TrueType");
}
/* Fonts ending */
/* flexbox starting */
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.none {
    display: none;
}

.flex-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

/* flexbox ending */

/* global styles starting */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.demo {
    color: #fff;
    background-color: #f05544;
    border-radius: 8px;
    padding: 23px 19px;
    font-family: FiragoRegular;
    font-size: 1rem;
    line-height: 1.1875rem;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-align: center;
}

    .demo:hover {
        background-color: #e53824;
    }

.title {
    font-size: 2.625rem;
    color: #091841;
    line-height: 3.125rem;
    margin: 0 0 35px;
    font-family: FiragoBold;
}

.title-content {
    max-width: 470px;
}

.secondry-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #091841;
    margin: 0 0 20px;
    font-family: FiragoBold;
}

.desc {
    font-family: FiragoRegular;
    font-size: 1rem;
    color: #091841;
    line-height: 1.875rem;
}

.bg {
    background: rgb(248, 249, 252);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(40%, rgba(248, 249, 252,0,7)), color-stop(96%, rgba(248, 249, 252, 1)) );
    background: -o-linear-gradient( top, rgba(248, 249, 252, 0.7) 40%, rgba(248, 249, 252, 1) 96% );
    background: linear-gradient( 180deg, rgba(248, 249, 252, 0.7) 40%, rgba(248, 249, 252, 1) 96% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f9fc",endColorstr="#f8f9fc",GradientType=1);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.GEL {
    font-family: GEL;
    font-style: normal;
    margin: 7px 0 0;
}

.hidden {
    height: 100vh;
    overflow: hidden;
}

.btn {
    display: block;
    position: relative;
    background-color: #f05544;
    border-radius: 8px;
    font-family: firagoRegular;
    font-size: 1.125rem;
    padding: 23px;
    margin: 50px 0 0;
    color: #fff;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    cursor: pointer;
    border: none;
}

    .btn:focus {
        outline: none;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.main-head-block {
    background-color: #f8f9fc;
    padding: 65px 0;
}

.main-head-block-title {
    max-width: 635px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.w-50 {
    width: 50%;
}

.accordion-body {
    display: none;
}

.error-code {
    font-family: FiragoSemiBold;
    font-size: 6.75rem;
    color: #091841;
    line-height: 4.75rem;
}

.loader {
    min-height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* global styles ending */
