.main-header {
    padding: 46px 0;
    font-family: FiragoRegular;
    font-size: 1rem;
    line-height: 1.1875rem;
}

.logo {
    display: block;
    height: 66px;
    margin: 0 70px 0 0;
}

    .logo img {
        height: 100%;
    }

.nav-link {
    font-family: FiragoRegular;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #091841;
    margin: 0 30px 0 0;
}

.log-in {
    margin: 0 20px 0 0;
}

    .log-in span {
        margin: 0 0 0 10px;
        color: #091841;
    }

.mobile-menu {
    display: none;
}

.burger {
    width: 39px;
    height: 39px;
    display: block;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    border-radius: 4px;
    border: 1px solid #f05544;
}

    .burger i {
        display: block;
        width: 18px;
        height: 1px;
        background: rgb(0, 0, 0);
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

        .burger i:before,
        .burger i:after {
            content: "";
            position: absolute;
            height: 1px;
            background: rgb(0, 0, 0);
            width: 18px;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -o-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .burger i:before {
            margin-top: -8px;
        }

        .burger i:after {
            margin-top: 8px;
        }

    .burger.active i {
        background: transparent;
    }

        .burger.active i:before,
        .burger.active i:after {
            left: 0;
            width: 18px;
        }

        .burger.active i:before {
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 8px;
        }

        .burger.active i:after {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: -8px;
        }

.menu {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100% - 94px);
    top: 94px;
    left: 0;
    background: #fff;
    z-index: 10;
}

    .menu li {
        padding: 20px 22px;
        border-bottom: 1px solid #eff0f3;
    }

        .menu li:first-child {
            border-top: 1px solid #eff0f3;
        }

        .menu li a {
            color: #091841;
            font-size: 1rem;
            line-height: 1.188rem;
            font-family: firagoBold;
        }

.mobile-buttons {
    padding: 30px 22px;
}

.auth {
    color: #091841;
    border: 1px solid #f05544;
    border-radius: 8px;
    padding: 23px 19px;
    font-family: FiragoRegular;
    font-size: 1rem;
    line-height: 1.1875rem;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 15px 0 0;
}

    .auth img {
        margin: 0 15px 0 0;
    }

.menu .social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* header styles ending*/

/* first section starting */
#main-section {
    margin: 113px 0 0;
}

.main-left-side {
    width: 560px;
    margin: 40px 0 0;
}

.main-title {
    font-size: 2.625rem;
    color: #091841;
    line-height: 3.625rem;
    margin: 0 0 35px;
    font-family: FiragoBold;
}

    .main-title span {
        color: #f05544;
    }

.main-desc {
    font-family: FiragoRegular;
    font-size: 1rem;
    color: #091841;
    opacity: 0.8;
    line-height: 1.5rem;
    margin: 0 0 55px;
}

.view-video {
    margin: 0 0 0 22px;
}

.video-icon {
    height: 65px;
    width: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1.5px solid #f05544a6;
    border-radius: 8px;
    margin: 0 10px 0 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .video-icon:hover {
        border: 1.5px solid #f05544;
    }

    .video-icon img {
        height: 22px;
    }

.view-video-text {
    font-size: 0.875rem;
    color: #091841;
    opacity: 0.8;
    line-height: 1.0625rem;
    font-family: FiragoRegular;
    cursor: pointer;
}

.main-right-side {
    height: 450px;
}

.left-arrow {
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: -1;
}

.right-arrow {
    position: absolute;
    bottom: 0;
    right: -80px;
    z-index: -1;
}

.banner {
    border-radius: 15px;
    height: 375px;
    max-width: 562px;
    width: 100%;
}

    .banner img {
        height: 100%;
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }
/* first section ending */

/* second section starting */
#priority-section {
    padding: 137px 0 0;
}

    #priority-section .title-content {
        margin: 0 140px 0 0;
    }

.service {
    max-width: 295px;
    margin: 0 0 99.5px;
}

    .service .secondry-title {
        font-family: FiragoSemiBold;
    }

.service-icon {
    margin: 0 0 38px;
}
.priority-services {
    justify-content: space-between;
    width: calc(100% - 470px)
}
/* second section ending */
/* third & fourth sections starting */
#pos {
    margin: 160px 0 0;
}

.number {
    color: #f05544;
    font-family: FiragoBold;
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

.content-feature {
    margin: 0 0 45px;
    border-radius: 12px;
    width: 448px;
    padding: 25px;
    border-left: 4px solid #f8f9fc;
    opacity: 0.7;
    cursor: pointer;
}

    .active-content-feature {
        opacity: 1;
        background-color: #f8f9fc;
    }

.content-feature .secondry-title {
    font-family: FiragoBold;
}

.pos-right-side {
    height: 500px;
    /* width: calc(100% - 590px); */
}

.pos-top-arrow {
    left: 140px;
    top: 15px;
}

.pos-bottom-arrow {
    bottom: 60px;
    right: 50px;
}

.pos-left-image {
    max-width: 45%;
    left: -100px;
    bottom: 80px;
}

.pos-right-image {
    max-width: 80%;
    right: -45px;
    top: 27px;
}

#erp {
    margin: 183px 0 0;
}
    #erp .right-side {
        padding: 33px 0 0;
    }
.title-relative {
    height:100px;
}
    .title-relative .title-content {
        max-width: 400px;
        position: absolute;
        right: 47px;
        top: 0;
    }
.erp-right-arrow {
    right: -15px;
    bottom: 15px;
}

.erp-top-arrow {
    top: 35px;
    left: 0;
    z-index: -1;
}

.erp-left-image {
    max-width: 45%;
    left: -50px;
    bottom: -55px;
}

.erp-right-image {
    max-width: 45%;
    right: -50px;
    top: -27px;
}

.erp-left-side {
    height: 660px;
}

.pos-tabs,
.erp-tabs {
    display: none;
}

.tabs-nav {
    width: 100%;
}

.pos-tabs .tabs-nav {
    top: -12px;
}

.tabs-nav li {
    width: auto !important;
    opacity: 0.5;
    border-bottom: 2px solid #dadbdf;
    padding: 0 0 10px;
    margin: 0 25px 0 0;
}

.pos-tabs .tabs-nav li.active,
.erp-tabs .tabs-nav li.active {
    opacity: 1;
    border-bottom: 2px solid #f05544;
}

.mobile-tab-title {
    color: #091841;
    font-family: firagoBold;
    font-size: 1rem;
    white-space: nowrap;
}

.pos-tabs .tabs-content {
    margin: 70px 0 0;
}

.erp-tabs .tabs-content {
    margin: 35px 0 0;
}

.pos-tab-content,
.erp-tab-content {
    display: none;
}

    .pos-tab-content:first-child,
    .erp-tab-content:first-child {
        display: block;
    }

/* third & fourth sections */

/* fifth section starting */
#packages {
    padding: 158px 0 165px;
}

    #packages .title-content {
        max-width: 500px;
        margin: 0 auto;
    }

.package-duration {
    margin: 55px 0;
}

.package-title {
    font-family: firagoRegular;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #091841;
    cursor: pointer;
    padding: 18px 25px;
}

.active-package {
    color: #fff;
    background-color: #091841;
    border-radius: 8px;
}

.package-contents {
    max-width: 924px;
    width: 100%;
    margin: 0 auto;
}

.package-wrapper {
    width: 448px;
    padding: 45px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

    .package-wrapper .secondry-title {
        font-family: firagoRegular;
        margin: 0 0 20px;
    }

.package-price {
    font-family: firagoBold;
    font-size: 2.625rem;
    line-height: 3.125rem;
}

    .package-price .desc {
        margin: 0 15px 0 0;
    }

        .package-price .desc:before {
            content: "/";
            display: inline-block;
            margin: 0 0 0 5px;
        }

.package-arrow {
    left: -70px;
    top: -65px;
    z-index: 1;
}

.package-right-patern {
    right: -110px;
    top: 225px;
    z-index: 1;
}

.package-features {
    margin: 33px 0 0;
}

.package-feature {
    margin: 0 0 14px;
    font-family: firagoRegular;
    line-height: 1.875rem;
    font-size: 1.125rem;
}

.package-feature-title {
    margin: 0 0 0 14px;
}

.standart {
    color: #091841;
    background-color: #fff;
    margin: 0 28px 0 0;
}

.premium {
    color: #fff;
    background-color: #f05544;
}

    .premium .secondry-title,
    .premium .desc {
        color: #fff;
    }

.hover-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 23px;
    opacity: 0;
}

.btn:hover .hover-icon {
    opacity: 1;
}

.btn span {
    position: relative;
    left: 30%;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.btn:hover span {
    left: 0;
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}

.premium .btn {
    background-color: #ff8b7e;
}

.mobile-accordion-container {
    display: none;
}

    .mobile-accordion-container li:last-child {
        border-bottom: 1px solid #dadbdf;
    }

    .mobile-accordion-container li {
        border-top: 1px solid #dadbdf;
        cursor: pointer;
    }

.package-accordion-head {
    font-family: firagoSemiBold;
    font-size: 0.85rem;
    padding: 15px 0;
}

.package-active {
    color: #f05544;
}

.mobile-package-name {
    width: 100%;
    text-align: center;
}
/* fifth section ending */

/* last section starting */

#bottom-section {
    margin: 160px 0 114px;
}

    #bottom-section .title-content {
        max-width: inherit;
    }

    #bottom-section .title {
        max-width: 560px;
        margin: 0 auto;
    }

    #bottom-section .desc {
        margin: 35px 0;
    }

.last-patern-r {
    right: -180px;
    bottom: -120px;
}

.last-patern-l {
    left: 0;
    top: -70px;
}
/* last section ending */

/* footer styles starting */
footer {
    padding: 60px 0 0;
}

.footer-desc {
    font-family: firagoRegular;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #091841;
}

.footer-logo .footer-desc {
    width: 178px;
    margin: 20px 0 0;
}

.footer-menu-title {
    font-family: firagoSemibold;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #091841;
    margin: 0 0 20px;
}

.footer-menu-list a {
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

    .footer-menu-list a:hover {
        color: #f05544;
    }

.social-icons .social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 37px;
    width: 37px;
    margin: 54px 0 0 25px;
    border-radius: 50%;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.fb {
    background: #edeff8 url("../image/FB\ Icon.svg") no-repeat center;
}

    .fb:hover {
        background: #edeff8 url("../image/fb-hover.svg") no-repeat center;
    }

.linkedin {
    background: #edeff8 url("../image/Linked\ In\ Icon.svg") no-repeat center;
}

    .linkedin:hover {
        background: #edeff8 url("../image/Linked\ IN-hover.svg") no-repeat center;
    }

.youtube {
    background: #edeff8 url("../image/Yt\ Icon.svg") no-repeat center;
}

    .youtube:hover {
        background: #edeff8 url("../image/youtube-hover.svg") no-repeat center;
    }

.footer-small-block {
    border-top: 1px solid #edeff8;
    margin: 47px 0 0;
    padding: 30px 0;
}
/* footer styles ending */

/* video popup starting */
#video-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 10;
}

.video-content {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .video-content iframe {
        width: 950px;
        height: 600px;
    }
/* video popup ending */

/*not found content starting*/
.main-content {
    height: 100%;
    max-width: 50%;
    width: 50%;
    padding: 36px 90px 0 90px;
}

.page-not-found .btn {
    width: inherit;
    text-align: center;
    margin: 0;
}

.not-found-content {
    height: 100vh
}

.page-not-found {
    height: calc(100% - 200px);
}

.notfound-image {
    width: 50%;
    height: 100vh;
}

    .notfound-image img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

.notfound-down {
    right: 90px;
    bottom: 70px;
}

.notfound-up {
    top: 180px;
    left: 95px;
}
/*not found content ending*/
