#package .main-head-block-title {
  max-width: 500px;
}
#package h6.desc {
  margin: 75px 0 0;
  font-weight: normal;
}
.advantages-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 75px auto 165px auto;
  padding: 30px;
}
.package-item-title {
  border-top: 1px solid #ebeff9;
  border-bottom: 1px solid #ebeff9;
  padding: 20px 100px 0 0;
}
.item-name {
  color: #091841;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-family: firagoRegular;
  text-align: center;
}
.item-feature-name {
  max-width: 356px;
  width: 50%;
  color: #091841;
  font-size: 0.875rem;
  line-height: 1.875rem;
  font-family: firagoRegular;
}
.package-item-desc {
  padding: 20px 100px 20px 0;
}
.package-item-desc img {
  height: 20px;
  width: 50%;
  margin: auto;
}
.choose-package-title {
  font-family: firagoBold;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #091841;
}
.choose-package .demo {
  margin: 0 auto;
}
.choose-package {
  border-top: 1px solid #ebeff9;
  border-bottom: 1px solid #ebeff9;
  padding: 20px 100px 20px 0;
}

@media (max-width: 768px) {
  #package .package-contents {
    padding: 0 30px;
  }
  #advantages {
    display: none;
  }
  #package h6.desc {
    display: none;
  }
    .main-head-block {
        padding: 60px 0 45px;
    }
}