/* .registration {
    height: 100vh;
} */
/* left side strating */

/* slider styles starting*/

.swiper-container-horizontal > .swiper-pagination-bullets {
  display: block !important;
  position: static;
  margin: 45px 0;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 5px;
  pointer-events: none;
  margin: 0 8px 0 0;
}
.swiper-pagination-bullet:last-child {
  margin: 0;
}
.swiper-pagination-bullet:focus,
.swiper-button-prev:focus {
  outline: none;
}
.swiper-pagination-bullet-active {
  border-radius: 5px;
  background-color: #091841;
  width: 21px;
  height: 10px;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-button-prev:focus {
  display: none;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 0;
}
.registration-btn .swiper-button-prev {
  height: 60px;
  width: 60px;
  position: static;
  margin: 0 33px 0 0;
  border: 1px solid #ececec;
  border-radius: 5px;
  color: #091841;
  opacity: 1;
}
.hover-icon {
  z-index: 10;
  right: 35%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.agree-terms {
  display: inline-flex;
  margin: 15px 0 30px;
  cursor: pointer;
}
.agree-terms input {
  opacity: 0;
}
.agree-title {
    display: inline-block;
    font-family: firagoRegular;
    font-size: 0.875rem;
    color: #f05544;
    margin: 0 0 0 30px;
    position: relative;
    top: -4px;
}
    .agree-title:after {
        content: "";
        height: 1px;
        background: #f05544;
        width: 100%;
        display: block;
        position: absolute;
        bottom: -1px;
    }
    .chckbox-square {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border: 1px solid #091841;
        background-color: #fff;
        border-radius: 2px;
        z-index: 2;
    }
.agree-terms input:checked + .chckbox-square:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #091841;
  border-radius: 2px;
}
.swiper-slide {
  height: auto;
  width: 100%!important;
  padding: 0 5px;
}

/* slider styles ending */

/* form srtyles starting */

.registration-title-wrapper {
  margin: 48px 0 30px;
}
.registration-wrapper-title {
  font-family: firagoSemiBold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin: 0 0 16px;
  color: #091841;
}
.form-input {
  margin: 0 0 20px;
}
.form-input label {
  font-family: firagoRegular;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #091841;
  margin: 0 0 8px;
}
.form-input input {
  background: transparent;
  position: relative;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #dadbdf;
  padding: 15px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #091841;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.form-input input:focus {
    border: 1px solid #f05544;
    background: transparent;
    outline: none;
}
.form-input input.error {
  border: 1px solid #f05544;
}
.form-input input.valid {
  border: 1px solid #3ac946;
}
.form-input input.error ~ .error-icon,
.form-input input.valid ~ .success-icon {
  display: block;
  height: 18px;
  position: absolute;
  right: 6px;
  bottom: 15px;
  z-index: 2;
}
#mobile ~ .error-icon,
#mobile ~ .success-icon {
  height: 18px;
  position: absolute;
  right: 6px;
  bottom: 15px;
  z-index: 2;
}
.tel-number-index {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #091841;
  font-family: FiragoRegular;
  top: 40px;
  left: 20px;
}
#tel-number {
  padding: 15px 15px 15px 48px;
}
.agree-terms input.error ~ .chckbox-square {
  border: 1px solid #f05544;
}
.next {
  margin: 0;
}
.account-content {
  margin: 40px 0 0;
}
.registration-btn .btn {
    height: 60px;
    line-height: 10px;
}
.underline-content {
  color: #f05544;
  margin: 0 0 0 10px;
  position: relative;
}
    .underline-content:after {
        content: "";
        height: 1px;
        background: #f05544;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 4px;
    }

.pointer {
  pointer-events: inherit;
}
.pointer-none {
  pointer-events: none;
}
.confirm-email {
  margin: 135px auto 200px;
  text-align: center;
}
.cofirm-title {
  font-family: firagoBold;
  color: #f05544;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 35px 0;
}
.email-adress {
  font-family: firagoBold;
  color: #091841;
}
.registration-up {
  top: -75px;
  left: 0;
}
.registration-down {
  bottom: -150px;
  right: 0;
}


.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
}

    .custom-select-wrapper select {
        display: none;
    }

.custom-select {
    position: relative;
    width: 100%;
    /*height: 48px;
    border-radius: 8px;
    border: 1px solid #dadbdf;*/
}

.custom-select-trigger {
    position: relative;
    display: flex;
    height: 48px;
    align-items: center;
    cursor: pointer;
    font-family: firagoRegular;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: #091841;
    margin: 0 0 8px;
    padding: 0 0 0 15px;
    border-radius: 8px;
    border: 1px solid #dadbdf;
}

    .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        top: 50%;
        right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
    }

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    background-color: #fff;
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    z-index: 11;
}


.option-hover:before {
    background: #f9f9f9;
}

.custom-option {
    position: relative;
    display: block;
    padding: 8px 15px;
    border-bottom: 1px solid #dadbdf;
    font-family: firagoRegular;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: #091841;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

    /*.custom-option:hover,
    .custom-option.selection {
        background: #f9f9f9;
       
    }*/
/* form srtyles ending*/

/* left side ending */

/* right side starting */
.ragistration-image {
  max-height: 937px;
  width: 50%;
}
.ragistration-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.registration-title {
  width: 400px;
  top: 50%;
  left: 72px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-family: FiragoSemiBold;
  font-size: 2.25rem;
  line-height: 2.875rem;
}

/* right side ending */

.tabs-name {
  width: 50%;
  font-family: firagoBold;
  font-size: 1rem;
  border-bottom: 2px solid #f05544;
  padding: 10px 0;
  cursor: pointer;
}
.sign-in {
  opacity: 0.6;
  border-bottom: 2px solid #dadbdf;
}
.sign-in a {
  color: #091841;
}
.registration .w-50 {
  width: 49%;
}
@media (max-width: 1024px) {
  .main-header {
    display: block;
  }
  .ragistration-image {
    display: none;
  }
    .registration .logo{
        display: none;
    }
    .form-input.w-50 {
        width: 100%;
    }
  #registration-header {
    display: block;
  }
  .registration-content .logo {
    display: none;
  }
  .registration-content .registration-title-wrapper {
    display: none;
  }

  .registration-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .account-content {
    display: none;
  }
  .swiper-container-autoheight .swiper-slide {
    width: 100% !important;
  }
  .info {
    margin: 20px 0 40px;
    font-size: 0.875rem;
  }
  .last-slider .demo {
    display: block;
  }
  .cofirm-title {
    font-size: 1.125rem;
  }
    .registration-btn .hover-icon {
        display: none;
    }
    .form-input input{
        font-size: 1rem;
    }
    .tel-number-index {
        top: 40.5px;
        left: 17px;
        font-size:1rem;
    }
    .registration-up {
        top: -65px;
    }
    .back-home-page {
        margin: 55px 0 0;
    }
}
