@media (max-width: 1550px) {
  /* main page responsive starting */
  .main-header{
    padding:30px 0;
  }
  .container {
    max-width: 1256px;
    padding: 0 30px;
  }
    #main-section {
        margin:  70px 0 0;
    }
    #priority-section .desc-space {
        margin: 0 0 0 45px;
    }
    #priority-section .title-content {
        margin: 0 90px 0 0;
    }
    .title-content {
        max-width: 370px;
    }
  .content-image-banner {
    width: 100%;
  }
  #priority-section {
    padding: 50px 0 0;
}
    .priority-services {
        justify-content: flex-end;
        width: calc(100% - 370px);
        margin: 0 45px 0 0;
    }
#pos {
  margin: 70px 0 0;
}
#erp {
  margin: 70px 0 0;
}
#packages {
  padding: 70px 0;
}
#bottom-section{
  margin: 70px 0;
}
    #priority-section .title {
        line-height: 1.9rem;
    }
    .main-title, .title {
        font-size: 1.875rem;
        line-height: 2.7rem;
    }
    .standart{
        margin: 0 56px 0 0;
    }
    .package-wrapper{
        padding: 30px;
    }
    .service {
        margin: 0 80px 50px 0;
    }
      .service:nth-child(2n) {
        margin: 0 0 50px 0;
    }
  /* main page responsive ending */
}
@media (max-width: 1200px) {
    .service {
        margin: 0 40px 50px 0;
        max-width: 280px;
    }
    #priority-section .title-content{
        margin: 0 40px 0 0; 
    }
}
    @media (max-width: 1024px) {
        /* global styles responsive starting  */

        .main-head-block {
            padding: 150px 0 50px;
        }
        /* global styles responsive ending  */

        /* main page header starting */
        .right-header {
            display: none;
        }

        .navigation {
            display: none;
        }

        .burger-menu {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .main-header {
            width: 100%;
            position: fixed;
            padding: 22px 0;
            background: #fff;
            z-index: 10;
        }

        .mobile-menu {
            display: block;
        }
        /* main header responsive ending */

        /* main section responsive starting */
        #main-section {
            margin: 150px 0 0;
        }

        .main-left-side {
            margin: 50px 0 0;
            width: 100%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
        }

        .mobile-column-reverse {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }

        .mobile-column {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .banner {
            max-width: inherit;
            height: inherit;
        }

        .video-content iframe {
            width: 850px;
            height: 500px;
        }

        .main-right-side {
            height: inherit;
            width: 100%;
        }
        /* main section responsive ending */

        /* priority section responsive starting */
        .main-priority-wrapper {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        #priority-section .title-content {
            max-width: 700px;
            margin: 0 auto 25px;
            text-align: center;
        }
        #priority-section .title {
            text-align: center;
        }
        .title-relative .title-content {
            position:static;
        }
        .title-content {
            margin: 0 auto;
            text-align: center;
        }
        #priority-section .desc-space{
            margin: 0
        }
        .service {
            max-width: inherit;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
            margin: 0;
        }
        /* priority section responsive ending */

        /* pos section responsive starting */

        .pos-right-side {
            width: 100%;
            height: inherit;
        }

        .pos-left-image {
            left: -50px;
        }

        .content-feature {
            width: 100%;
        }

        .last-patern-r {
            right: -50px;
        }
        /* pos section responsive ending */

        /*not found content starting*/
        .main-content {
            max-width: 100%;
            width: 100%;
            padding: 120px 35px 0 25px;
        }

        .notfound-image, .notfound-logo {
            display: none
        }

        .page-not-found {
            height: 100%;
        }

        .notfound-down {
            right: 60px;
            bottom: 50px;
        }
        /*not found content ending*/
    }

    @media (max-width: 768px) {
        /* global styles responsive starting  */

        .main-head-block {
            padding: 118px 0 45px;
            background-color: inherit;
        }

        .package-duration {
            margin: 25px 0;
        }
        /* global styles responsive ending  */

        /* main section responsive starting */
        .main-title {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }

        .view-video-text {
            display: none;
        }

        .demo,
        .main-buttons {
            width: 100%;
        }
        /* main section responsive ending *
  /* services section responsive starting */
        .left-arrow {
            left: -10px;
        }

        .right-arrow {
            bottom: -18px;
        }

        .main-desc {
            font-size: 0.875rem;
        }


        .title-content {
            max-width: 170px;
        }

        .title {
            font-size: 1.125rem;
            line-height: 1.75rem;
            text-align: center;
        }

        .secondry-title {
            font-size: 1rem;
        }

        .pos-bottom-arrow {
            display: none;
        }

        .last-patern-r {
            display: none;
        }

        #bottom-section .title {
            max-width: 256px;
        }

        #bottom-section .title-content {
            padding: 0 30px;
        }

        #erp {
            margin: 90px 0 0;
        }

        .content-feature {
            display: none;
        }

        .erp-top-arrow {
            width: 40%;
        }

        .erp-right-arrow {
            width: 20%;
        }

        .right-side {
            width: 100%;
        }

        .pos-tabs,
        .erp-tabs {
            display: block;
        }

        .erp-left-side {
            height: inherit;
            margin: 80px 0 0;
        }

        .erp-left-image {
            bottom: -25px;
        }
        /* services section responsive ending */

        /* package content responsive starting */
        #packages {
            padding: 45px 0;
        }

        .package-desktop,
        .package-arrow,
        .package-right-patern {
            display: none;
        }

        .mobile-accordion-container {
            display: block;
            width: 100%;
        }

        .package-wrapper {
            width: 100%;
            padding: 25px 10px;
        }

        .package-mobile .secondry-title {
            display: none;
        }

        .standart {
            background-color: inherit;
            border: 1.5px solid #dadbdf;
        }

        .package-price {
            font-size: 2.3125rem;
        }

        .package-mobile .hover-icon {
            display: none;
        }

        .package-mobile .btn span {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: static;
        }

        /* package content responsive ending */

        /* bottom section responisve starting */
        #bottom-section {
            margin: 90px 30px;
        }
        /* bottom section responisve ending */

        /* footer section responsive starting */
        .footer-logo {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        .footer-small-block {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .footer-desc {
            margin: 0 0 12px;
        }

        .last-patern-r {
            right: 0;
        }

        .footer-direction {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .flex-row {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        .footer-item {
            margin: 37px 0 0;
        }

        .logo {
            height: 50px;
            margin: 0 20px 0 0;
        }

        .footer-logo .footer-desc {
            margin: 0;
        }

        .social-icons .social-icon {
            margin: 0 25px 0 0;
        }
        /* footer section responsive ending */
    }