﻿@model CrystalCMS.Web.Models.Faq.HaveQuestionSectionViewModel
@using CrystalCMS.Web.Extensions

<div class="questions-block">
    <div class="main-head-block-title">
        <h2 class="title">@Model.Title</h2>
        <p class="desc">@Model.Description</p>
    </div>
    <div class="contact-wrapper flex">
        <div class="contact-item flex flex-column align-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                <g transform="translate(-647 -1167)"><rect class="a" width="36" height="36" transform="translate(647 1167)" /><path class="b" d="M24.662,19.363l-3.367-.387a2.66,2.66,0,0,0-2.191.762l-2.472,2.472a20.106,20.106,0,0,1-8.8-8.8L10.3,10.933a2.66,2.66,0,0,0,.762-2.191l-.387-3.367A2.674,2.674,0,0,0,8.015,3.01H5.7A2.651,2.651,0,0,0,3.031,5.776a22.7,22.7,0,0,0,21.23,21.23,2.651,2.651,0,0,0,2.766-2.672V22.022A2.674,2.674,0,0,0,24.662,19.363Z" transform="translate(649.974 1169.99)" /></g>
            </svg>
            <span class="contact-info">@Model.PhoneNumber</span>
            <p class="desc">@Model.SubText</p>
        </div>
        <div class="contact-item contact-item flex flex-column align-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                <g transform="translate(-1237 -1167)"><rect class="a" width="36" height="36" transform="translate(1237 1167)" /><path class="b" d="M4.4,4A2.392,2.392,0,0,0,2.028,6.119L14,13.6,25.972,6.119A2.392,2.392,0,0,0,23.6,4ZM2,8.5V20.8a2.4,2.4,0,0,0,2.4,2.4H23.6A2.4,2.4,0,0,0,26,20.8V8.5L14.635,15.6a1.2,1.2,0,0,1-1.27,0Z" transform="translate(1241 1171)" /></g>
            </svg>
            <span class="contact-info">@Model.Email</span>
            <p class="desc">@Model.SubText</p>
        </div>
    </div>
</div>

