﻿@model CrystalCMS.Web.Models.Faq.QuestionsSectionViewModel
@using CrystalCMS.Web.Extensions
 
<div class="faq-content">
    <ul class="accordion-container">
        @if (Model.Items.IsNotNullOrEmpty())
        {
            foreach (var question in Model.Items)
            {
                <li>
                    <div class="accordion-head">
                        @question.Question<img class="plusminus" src="~/assets/image/Plus Icon.svg" alt="icon">
                    </div>
                    <div class="accordion-body">
                        <p class="desc">@question.Answer</p>
                    </div>
                </li>
            }
        }
    </ul>
</div>