﻿@model CrystalCMS.Web.Models.ViewModelBase
@using CrystalCMS.Web.Extensions

<div class="main-head-block">
    <div class="main-head-block-title">
        <h2 class="title">@Model.Title</h2>
        <p class="desc">
            @Model.Description
        </p>
    </div>
</div>